# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
build/
dist/

# ML Models
*.weights
*.pt
*.onnx
*.h5
*.ckpt

# Dataset / Media
datasets/
data/
*.mp4
*.avi
*.mov
*.jpg
*.png

# Logs
*.log

# Env
.env

# Temp
tmpclaude*